{% if tags is not empty %}
    {% if tags is iterable %}
        {% for tag in tags %}
            <a href="?tags={{ tag }}">#{{ tag }}</a>
        {% endfor %}
    {% else %}
        #{{ tags|split(',')|join(' #') }}
    {% endif %}
{% endif %}