<div class="modal fade" id="novo-post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Shouting...</h4>
      </div>
      <div class="modal-body">
        <form id="form-novo-post" method="POST" class="form-horizontal" action="?action=shout">
          <div class="well">
            <div class="form-group">
              <label class="col-lg-4" for="post_conteudo">Shout:</label>
              <div class="col-lg-8">
                <textarea name="data[shout]" class="form-control" id="post_conteudo"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4" for="post_tags">Tags:</label>
              <div class="col-lg-8">
                <input type="text" name="data[tags]" class="form-control" id="post_tags" />
                <p style="text-align:center"><small>(separadas por vírgula)</small></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4" for="post_autor">Shouter:</label>
              <div class="col-lg-8">
                <input type="text" name="data[shouter]" class="form-control" id="post_autor" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary btn-salvar-post">Salvar</button>
      </div>
    </div>
  </div>
</div>