<div class="sidebar-module">
  <h4>5houters</h4>
  {% if timeline is empty %}
      <p class="text-capitalize"><< no shouts yet! >></p>
  {% else %}
  <ol class="list-unstyled">
    {% for shouter in shouters %}
    <li><a href="/?shouter={{ shouter.name }}">{{ shouter.name }} ({{ shouter.qtd }})</a></li>
    {% endfor %}
  </ol>
  {% endif %}
</div>