<div class="sidebar-module">
  <h4>Tags</h4>
  {% if tags is empty %}
  << No Taggeg Shout! >>
  {% else %}
  <ol class="list-unstyled">
    {% for tag in tags %}
    <li><a href="/?tags={{ tag.tag }}">{{ tag.tag }}</a> ({{ tag.qtd }})</li>
    {% endfor %}
  </ol>
  {% endif %}
</div>