<div class="sidebar-module">
  <h4>Timeline</h4>
  {% if timeline is empty %}
      <p class="text-capitalize"><< no shouts yet! >></p>
  {% else %}
  <ol class="list-unstyled">
    {% for entry in timeline %}
      {% set timegap = (entry.when|join('/'))|url_encode %}
      {% set timegapdisplay = [entry.when.month|monthPtBr, entry.when.year]|join('/') %}
    <li><a href="/?timegap={{ timegap }}">{{ timegapdisplay }}</a> ({{ entry.qtd }})</li>
    {% endfor %}
  </ol>
  {% endif %}
</div>