<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>PHongoDB Shoutbox</title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/site.css">
  </head>
  <body>
    <div class="blog-masthead">
      <div class="container">
          <nav class="navbar navbar-blog">
              <div class="navbar-header">
                  <a class="navbar-brand blog-nav-item active" href="/"><span class="glyphicon glyphicon-home"></span></a>
              </div>
              <ul class="nav navbar-nav pull-right">
                  <li>
                      <a href="#" data-toggle="modal" data-target="#novo-post" class="blog-nav-item">
                          <span class="glyphicon glyphicon-bullhorn"></span> Shout!
                      </a>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle blog-nav-item" role="button" data-toggle="dropdown">
                          <span class="glyphicon glyphicon-fire"></span> Top 10
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="#" class="top10-likes"><span class="glyphicon glyphicon-thumbs-up"></span> Mais curtidos</a></li>
                          <li><a href="#" class="top10-comments"><span class="glyphicon glyphicon-comment"></span> Mais pitacados</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle blog-nav-item" role="button" data-toggle="dropdown">
                          <span class="glyphicon glyphicon-search"></span> Pesquisar
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li>
                              <form class="navbar-form">
                                  <div class="form-group" style="margin-bottom:5px">
                                      <input type="text" class="form-control input-sm" placeholder="Busca" />
                                  </div>
                                  <br style="clear:both" />
                                  <button type="submit" class="btn btn-default btn-sm pull-right">
                                      <span class="glyphicon glyphicon-search"></span>
                                  </button>
                              </form>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a class="shoutbox-about blog-nav-item" href="#"><span class="glyphicon glyphicon-info-sign"></span> About</a>
                  </li>
              </ul>
          </nav>
      </div>
    </div>
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">PHongoDB Shoutbox</h1>
        <p class="lead blog-description">Solte o verbo!</p>
      </div>
      {{ fm.display }}
      <div class="row">
        <div class="col-sm-8 blog-main">
        {% block main %}
        {% endblock %}
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {% include 'partials/sidebar/timeline.html.twig' with { 'timeline': timeline } %}
          {% include 'partials/sidebar/shouters.html.twig' with { 'shouters': shouters } %}
          {% include 'partials/sidebar/tags.html.twig' with { 'tags': tags } %}
        </div>
      </div>
    </div>
    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/bootbox.js/bootbox.js"></script>
    <script type="text/javascript">
    $(function(){
        $('.shoutbox-about').click(function(){
            bootbox.alert(
            'PHongoDB shoutbox foi construído com o objetivo de apresentar o funcionamento do MongoDB e algumas de suas funções básicas integradas com o PHP.'
            + '<br />Para mais detalhes e código completo acesse <a href="https://github.com/maykelsb/oficinamongo" target="_blank">maykelsb/oficinamongo</a> no GitHub.'
            );
        });
        $('.dropdown-toggle').dropdown();
    });
    {% block javascript %}{% endblock %}
    </script>
  </body>
</html>